<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="/css/manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>


<body>

    <header>
        Manager Dashboard
    </header>

    <div class="container">
        <div class="left">


            <div class="box1">
                <img id="station_logo" src="/images/vintage_logo.jpg" alt="">
            </div>



            <!-- Log in box, both username and password are required fields. User can't log in without both -->
            <div class="box2">
                <div class="login-box">
                    <h2>Login</h2>
                    <form>
                        <div class="textbox">
                            <input type="text" placeholder="Username" name="username" required>
                        </div>
                        <div class="textbox">
                            <input type="password" placeholder="Password" name="password" required>
                        </div>
                        <input type="submit" class="btn" value="Login">
                    </form>
                </div>
            </div>



            <div class="box3">
                <div id="menuOptions">
                    <a href="manager_dashboard" class="custom-link">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                    <a href="manager_dashboard" class="custom-link">
                        <i class="fa-solid fa-list"></i> Compare Playlists
                    </a>
                    <a href="manager_reports" class="custom-link">
                        <i class="fa-solid fa-book-open"></i> Reports
                    </a>
                    <a href="manager_feedback" class="custom-link">
                        <i class="fa-solid fa-comments"></i> Feedback Channel
                    </a>
                    <a href="https://www.google.com" class="custom-link">
                        <i class="fa-solid fa-book"></i> Library
                    </a>
                </div>
                <form id="search" action="/search" method="get" style="display: flex;">
                    <input type="text" name="query" placeholder="Search..." style="flex: 1;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>


        <!-- Playlist windows for both the DJ and Producer -->
        <div class="right">
            <div class="box4">
                <div class="username-container">
                    Username <i id="user" class="fa-solid fa-user" style="color: #ffffff;"></i>
                </div>
                <input type="date" id="date">
                <div class="song-container">

                    <!-- Producer window -->
                    <div class="song-window producer">
                        <h2>Producer-Assigned Songs</h2>
                        <ul>
                            <li><span class="song-title">Song 1</span> <span class="song-artist">Artist A</span></li>
                            <li><span class="song-title">Song 2</span> <span class="song-artist">Artist B</span></li>
                            <li><span class="song-title">Song 3</span> <span class="song-artist">Artist C</span></li>
                            <li><span class="song-title">Song 4</span> <span class="song-artist">Artist A</span></li>
                            <li><span class="song-title">Song 5</span> <span class="song-artist">Artist B</span></li>
                            <li><span class="song-title">Song 6</span> <span class="song-artist">Artist A</span></li>
                            <li><span class="song-title">Song 7</span> <span class="song-artist">Artist B</span></li>
                            <li><span class="song-title">Song 8</span> <span class="song-artist">Artist C</span></li>
                            <li><span class="song-title">Song 9</span> <span class="song-artist">Artist C</span></li>
                        </ul>
                    </div>


                    <!-- DJ window -->
                    <div class="song-window">
                        <h2>DJ-Played Songs</h2>
                        <ul>
                            <li><span class="song-title">Song 1</span> <span class="song-artist">Artist A</span></li>
                            <li><span class="song-title">Song 2</span> <span class="song-artist">Artist B</span></li>
                            <li><span class="song-title">Song 11</span> <span class="song-artist">Artist C</span></li>
                        </ul>
                    </div>
                </div>

                <!-- Button to generate a report -->
                <button class="report-button">Generate report</button>

                <!-- Modal Structure -->
                <div class="modal" id="reportModal">
                    <span class="close-button">&times;</span>
                    <div class="modal-content">
                        <h3>Generate Report</h3>
                        <form id="reportForm">
                            <div class="input-field" id="title">
                                <label for="reportTitle">Title:</label>
                                <input type="text" id="reportTitle" required>
                            </div>
                            <div class="input-field">
                                <textarea id="reportSummary" placeholder="Write your feedback..." required></textarea>
                            </div>
                            <div class="input-field id" id="createdOn">
                                <label for="reportDateDisplay">Created on:</label>
                                <span id="reportDateDisplay"></span>
                            </div>
                            <button type="submit" id="submit-report">Submit Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer information -->
    <footer>
        <div id="copyright">
            Copyright <i class="fa-solid fa-copyright"></i> 2023
        </div>
        <div id="socialmedia">
            Follow us on
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
            </a>
        </div>
    </footer>


    // Script for the dashboard page
    <script src="/js/dashboard.js"></script>
</body>

</html>